In [62]:
import pandas as pd

In [63]:
# Reading data set
boutiquedf = pd.read_excel("Botique shop.xlsx")
boutiquedf.head()

,Order Number,Customer ID,Month order,Product name,Number of order,Fee,Discount,Final price
0,1402000001,1402100798,5,Shirt,4,3750000,297728,14702272
1,1402000002,1402100033,8,Hat,8,1200000,116915,9483085
2,1402000003,1402100758,2,Boots,8,29580000,7585800,229054200
3,1402000004,1402100794,2,Hat,2,1200000,54833,2345167
4,1402000005,1402100977,6,Jeans,9,7410000,855559,65834441

In [64]:
# Getting name of product

clothInput = input("Please enter your product name!").lower()


if clothInput not in boutiquedf["Product name"].unique():
    print("Your product is not in the list!")

Your product is not in the list!